<mat-toolbar color="primary" class="header-toolbar">
  <a routerLink="/" class="logo">
    <img src="logo.svg" alt="Logo" />
  </a>

  <span class="spacer"></span>

  <nav class="nav-buttons">
    <button mat-button routerLink="/projects">Projects</button>
    <button mat-button routerLink="/inspire">Inspire</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contactus">Contact Us</button>
  </nav>

  <!-- Optional: Hamburger menu for mobile -->
  <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-button routerLink="/projects">Projects</button>
    <button mat-button routerLink="/inspire">Inspire</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contactus">Contact Us</button>
  </mat-menu>
</mat-toolbar>
